
html, body, #root {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f5f7fa; /* Matches dashboard gradient base */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
